@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 224 71.4% 4.1%;
		--radius: 0.5rem;
	}
}

@screen md {
	.app-shell[data-left-sidebar-open='true'] {
		grid-template-columns: 200px auto 288px;
	}
	.app-shell[data-left-sidebar-open='false'] {
		grid-template-columns: 0px auto 288px;
	}
	app-shell[data-left-sidebar-open='true'][data-right-sidebar-open='true'] {
		grid-template-columns: 200px auto 288px;
	}

	.app-shell[data-left-sidebar-open='false'][data-right-sidebar-open='true'] {
		grid-template-columns: 0px auto 288px;
	}

	.app-shell[data-left-sidebar-open='true'][data-right-sidebar-open='false'] {
		grid-template-columns: 200px auto 0px;
	}

	.app-shell[data-left-sidebar-open='false'][data-right-sidebar-open='false'] {
		grid-template-columns: 0px auto 0px;
	}
}

.dnd-sortable-tree_simple_tree-item-collapse_button {
	border: 0;
	width: 20px;
	height: 20px;
	align-self: stretch;
	transition: transform 250ms ease;
}

.dnd-sortable-tree_folder_simple-item-collapse_button-collapsed {
	transform: rotate(-90deg);
}

.dnd-sortable-tree_folder_tree-item-collapse_button-collapsed {
	transform: rotate(-90deg);
}
